/target/
/.idea/
/alidaodao-app-redis.iml
/alidaodao-app-redis-client/target/
/alidaodao-app-redis-example/target/
/spring-boot-redis-starter/target/
*.iml
*.idea
/alidaodao-app-redis-example/src/main/resources/application-dev.properties
